@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

main > h1 {
    color: darkgreen;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 170px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 0px;
    position: relative;
    bottom: 0;
    background-color: lightgreen;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: tomato;
}

a.nav-color{
    text-decoration: none;
    color: white;
}

a.recipe-color{
    color: green;
    text-decoration: none;
}
a:hover {
    color: green

}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50%;
}

table tr:nth-child(even) {
    background-color: lightgrey;

}
